
body {
  background-color: #f8f9fa;
}

#instructionsPage .card {
  max-width: 600px;
  margin: auto;
}

#quizPage .card {
  max-width: 700px;
  margin: auto;
}

#timerBox {
  font-weight: bold;
}

.select-text {
  font-weight: bold;
  margin-bottom: 10px;
}

.btn-right {
  display: flex;
  justify-content: flex-end;
}

.btn-rights {
    display: flex;             
    justify-content: flex-end; 
    margin-top: 20px;          
}

/* Space between Previous & Save & Next */
.btn-rights button + button {
    margin-left: 10px;        
}

